@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* pseudo-classe */

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Pacifico';
    --fonte-texto: 'Open+Sans';
}

/* configurações globais */

* {
    padding: 0px;
    margin: 0px;
}

/* configurações gerais do body */

body {
    font-family: var(--fonte-padrao);
    background-color: white;
}

.espaco {
    background-image: url("../imagens/espaco.jpg");
    background-color: white;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.terra {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: url(https://i.pinimg.com/originals/17/27/41/17274108e807373b99c46a573c78580b.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s alternate infinite;
}

@keyframes spin {
    100% {background-position: 100%}
}

.texto {
    font-family: var(--fonte-destaque);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
  

  





