@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* pseudo-classe */

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Pacifico';
    --fonte-texto: 'Open+Sans';
}

/* configurações globais */

* {
    padding: 0px;
    margin: 0px;
}

/* configurações gerais do body */

body {
    font-family: var(--fonte-padrao);
    background-color: white;
}

/* fundo do espaço */

.espaco {
    background-image: url("../imagens/espaco.jpg");
    background-color: white;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

/* fundo da terra */

.terra {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: url(https://i.pinimg.com/originals/17/27/41/17274108e807373b99c46a573c78580b.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s alternate infinite;
}

@keyframes spin {
    100% {background-position: 100%}
}

.texto {
    font-family: var(--fonte-destaque);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* texto h2 */

h2 {
    text-align: center;
    margin: 10px;
}

/* tabela */

table {
    width: 600px;
    margin: 10px auto 10px auto;
    border-collapse: collapse;
}

caption {
    background-color: lightgray;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.container {
    overflow-x: auto;
}

/* fonte da informação */

.fonte > p {
    margin: 10px;
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: aqua;
}

/* rodapé */

footer {
    padding: 5px;
    background-color: black;
    text-align: center;
    margin-top: 10px;
}

footer > a {
    color: white;
    text-decoration: none;
}

footer > a:hover {
    color: aqua;
    text-decoration: underline;
}
  

  





